@using Dpz.Core.WebMore.Pages.CodeComponent

@if (!string.IsNullOrEmpty(Name))
{
    var isActive = ActivePath.SequenceEqual(Path);
    <div class="code-tree__node @(_expand ? "is-expanded" : "")">
        <div class="code-tree__content @(isActive ? "is-active" : "")" @onclick="OnContentClickAsync">
            <!-- Toggle Icon -->
            <div class="code-tree__toggle @(IsFolder ? "" : "is-hidden")" @onclick="ToggleNodeAsync" @onclick:stopPropagation>
                <svg viewBox="0 0 24 24" width="16" height="16" fill="currentColor">
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
                </svg>
            </div>
            
            <!-- Icon -->
            <div class="code-tree__icon">
                <ShowIcon IsFolder="@IsFolder" Filename="@Name"></ShowIcon>
            </div>
            
            <!-- Label -->
            <Tooltip Text="@string.Join("/", Path)">
                <div class="code-tree__label">
                    @{
                        var (first,keyword,end) = MatchKeyword(Name);
                    }
                    @if (keyword == null || end == null)
                    {
                        @Name
                    }
                    else
                    {
                        <span>@first</span>
                        <mark>@keyword</mark>
                        <span>@end</span>
                    }
                </div>
            </Tooltip>
        </div>
        
        @if (_childrenNode != null && _expand)
        {
            <Tree @ref="_childTree" OnSelectedFile="OnSelectedFile" Node="_childrenNode" OnExpandFolder="OnExpandFolder"></Tree>
        }
    </div>
}
