<span class="comment-item__user-info">
    @if (Commenter is MemberCommenter memberCommenter)
    {
        <span class="comment-item__author">@memberCommenter.NickName</span>
        if (!string.IsNullOrEmpty(memberCommenter.Identity))
        {
            <span
                class="comment-item__tag @(memberCommenter.Identity == "Admin" ? "comment-item__tag--admin" : "")">
                @memberCommenter.Identity
            </span>
        }
    }
    else if (Commenter is GuestCommenter guestCommenter)
    {
        if (!string.IsNullOrEmpty(guestCommenter.Site))
        {
            <a target="_blank" class="comment-item__author" href="@ForceHttps(guestCommenter.Site)">@guestCommenter.NickName</a>
        }
        else
        {
            <span class="comment-item__author">@guestCommenter.NickName</span>
        }
    }
</span>




@code {
    [Parameter]
    [EditorRequired]
    public required Commenter Commenter { get; set; }
    
    private static string ForceHttps(string url)
    {
        var uri = new UriBuilder(url);

        var hadDefaultPort = uri.Uri.IsDefaultPort;
        uri.Scheme = Uri.UriSchemeHttps;
        uri.Port = hadDefaultPort ? -1 : uri.Port;

        return uri.ToString();
    }
}