@page "/bookmark"

@if (string.IsNullOrWhiteSpace(Title))
{
    <PageTitle>书签 - 个人文章分享</PageTitle>    
}
else
{
    <PageTitle>@Title - 搜索 - 个人文章分享</PageTitle>
}

<div class="bookmark">
    <div class="bookmark__header">
        <h1 class="bookmark__title" data-text="BOOKMARKS">BOOKMARKS</h1>
        <div class="bookmark__decoration"></div>
    </div>

    <div class="bookmark__search">
        <div class="bookmark__search-wrapper">
            <input type="search" class="bookmark__search-input" placeholder="搜索书签..."
                   value="@_searchText" @oninput="OnSearchInput" autocomplete="off" 
                   @onkeydown="OnKeyDown"/>
            <button type="button" class="bookmark__search-btn" @onclick="NavigateToSearch">
                <i class="fa fa-search"></i>
            </button>
        </div>
        @if (_suggestions.Count > 0)
        {
            <div class="bookmark__search-results" style="display: block;">
                <ul class="bookmark__search-list">
                    @for (var i = 0; i < _suggestions.Count; i++)
                    {
                        var item = _suggestions[i];
                        var index = i;
                        var isActive = index == _selectedIndex ? "bookmark__search-item--active" : "";
                        <li class="bookmark__search-item @isActive" @onclick="@(() => SelectSuggestion(item))">@item</li>
                    }
                </ul>
            </div>
        }
    </div>

    <div class="bookmark__categories">
        @foreach (var item in Categories)
        {
            var isActive = SelectedCategories.Contains(item);
            var cssClass = isActive ? "bookmark__category bookmark__category--active" : "bookmark__category";
            var url = GetCategoryUrl(item);
            
            <a href="@url" class="@cssClass">@item</a>
        }
    </div>


    <div class="bookmark__grid">
        @if (_loading)
        {
            <BookmarkSkeleton />
        }
        else if (_source.Count == 0)
        {
            <div class="bookmark__empty">暂无书签</div>
        }
        else
        {
            foreach (var item in _source)
            {
                <div class="bookmark-card">
                    <a href="@item.Url" target="_blank" class="bookmark-card__link">
                        <div class="bookmark-card__image-wrapper">
                            @if (!string.IsNullOrEmpty(item.Image))
                            {
                                <img class="bookmark-card__preview lazy" data-src="@(item.Image + "!bookmark")" src="@Program.LibraryHost/loaders/puff.svg" alt="@item.Title" loading="lazy" />
                            }
                            else
                            {
                                <div class="bookmark-card__no-image">NO SIGNAL</div>
                            }
                        </div>
                        <div class="bookmark-card__content">
                            @if (!string.IsNullOrEmpty(item.Icon))
                            {
                                <img class="bookmark-card__icon" src="@item.Icon" alt="icon" />
                            }
                            <h3 class="bookmark-card__title" data-text="@item.Title">@item.Title</h3>
                        </div>
                    </a>
                    <div class="bookmark-card__footer">
                        <div class="bookmark-card__tags">
                            @foreach (var category in item.Categories)
                            {
                                <span class="bookmark-card__tag">
                                    @category
                                </span>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
