@page "/mumble"
@page "/mumble/{PageIndex:int}"
@using Dpz.Core.WebMore.Pages.ArticleComponent
<PageTitle>碎碎念 - 个人文章分享</PageTitle>
<div class="pagebg ab"> </div>
<div class="container">
    <h1 class="nav-map">
        <span>不爱社交，涉恐本恐，渐渐的，我把这里当成了树洞</span>
        <a href="/" class="n1">网站首页</a>
        <a href="/mumble" class="n2">碎碎念</a>
    </h1>
    <div class="mumble">
        @if (_loading)
        {
            <MudCard>
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="40px" Width="40px"/>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudSkeleton Animation="Animation.Wave" Width="40%"/>
                        <MudSkeleton Animation="Animation.Wave" Width="60%"/>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="250px"/>
                <MudCardContent>
                    <MudSkeleton Animation="Animation.Wave"/>
                </MudCardContent>
                <MudCardActions>
                    <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="30px" Width="30px" Class="ml-2 mb-2"/>
                    <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="30px" Width="30px" Class="ml-3 mb-2"/>
                </MudCardActions>
            </MudCard>
        }
        else
        {
            @foreach (var item in _source)
            {
                <MudCard Style="margin-bottom: 1em">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="@item.Author.Avatar" Alt="@item.Author.Name"/>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">@item.Author.Name</MudText>
                            <MudTooltip Text="@item.CreateTime.ToString("yyyy/MM/dd HH:mm:ss")">
                                <MudText Typo="Typo.caption">@item.CreateTime.TimeAgo()发布</MudText>
                            </MudTooltip>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MarkdownPreview Style="background: initial" Markdown="@item.Markdown"/>
                    </MudCardContent>
                    <MudCardActions Style="border-top:1px solid var(--mud-palette-lines-default)">
                        <MudBadge Content="@item.Like" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                            <MudIconButton OnClick="async () => await LikeAsync(item.Id)" Icon="@Icons.Material.Filled.Favorite" Color="Color.Info"/>
                        </MudBadge>
                        <MudBadge Content="@item.CommentCount" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                            <MudToggleIconButton
                                Icon="@Icons.Material.Filled.Comment"
                                ToggledIcon="@Icons.Material.Filled.AddComment"
                                Color="Color.Info"
                                @bind-Toggled="@item.ShowComment"
                                ToggledColor="Color.Info"/>
                        </MudBadge>
                    </MudCardActions>
                    @if (item.ShowComment)
                    {
                        <MudCardContent Style="border-top:1px solid var(--mud-palette-lines-default)">
                            <Comment Node="CommentNode.Mumble" Relation="@item.Id"></Comment>
                        </MudCardContent>
                    }
                </MudCard>
            }
            
            
            <div style="margin: 20px auto;text-align: center">
                <MudPagination
                    Rectangular="true"
                    Variant="Variant.Filled"
                    Count="_source.TotalPageCount"
                    BoundaryCount="0"
                    MiddleCount="2"
                    Selected="(PageIndex == 0 ? 1 : PageIndex)"
                    SelectedChanged="ToPageAsync"/>
            </div>
        }
    </div>
    <div class="sidebar">
        <div class="about">
            <p class="avatar">
                <img src="https://cdn.dpangzi.com/images/avatar/64685599731755a4b271f147.png" alt="被打断的狗腿">
            </p>
            <p class="author-name">dpagnzi | 彭迁</p>
            <p class="author-position">Professional asp.net developer.</p>
            <div class="about-text">
                <p>彭氏胖纸者，名迁，江陵人，诞于夏。少聪慧，敏于学。</p>
                <p>古人有言，曰：趋于地，就于时。迁者诞于炎炎之夏，故活泼而好动。</p>
                <p>江陵者襟江带河，集日月精华，文人骚客多出于此，迁虽芸芸之其一，实粹粹然也。</p>
                <p>迁之性，稳而健，平而滑。若得于古，不可为刺客而说客也夫刺客，静若处子，动若蛇蝎。偏安于角落，偶然爆发。而说客者，平滑婉转，若流水，或缓或急，然不可断绝也。</p>
                <p>迁者，柔弱如水，暴怒如江。遏飞舟击巉石曲回肠终归海。</p>
            </div>
        </div>
        <Tags></Tags>
        <Like></Like>
        <News></News>
    </div>
</div>