@page "/topic/list"
@page "/topic/list/{PageIndex:int}"
<PageTitle>今日热榜 - 个人文章分享</PageTitle>
<div class="pagebg topic-blank"></div>
<div class="container">
    <h1 class="nav-map">
        <span>
            每天都会更新的热榜
        </span>
        <a href="/" class="n1">网站首页</a>
        <a href="/topic/list" class="n2">今日热榜</a>
    </h1>
    <div class="blogsbox">
        @if (_loading)
        {
            <MudCard>
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="300px"/>
                <MudCardContent>
                    <MudSkeleton Width="30%" Height="42px;"/>
                    <MudSkeleton Width="80%"/>
                    <MudSkeleton Width="100%"/>
                </MudCardContent>
                <MudCardActions>
                    <MudSkeleton Width="64px" Height="40px" Class="ml-2"/>
                    <MudSkeleton Width="105px" Height="40px" Class="ml-3"/>
                </MudCardActions>
            </MudCard>
        }
        else
        {
            @foreach (var item in _source)
            {
                <div class="blogs" data-scroll-reveal="enter bottom over 1s">
                    <h3 class="blog-title">
                        <a href="/topic/read/@(item.Id)">@item.Title</a>
                    </h3>
                    @if (item.Images.Count >= 3)
                    {
                        <span class="article-list">
                            @foreach (var image in item.Images)
                            {
                                <li>
                                    <img data-src="@(Program.WebHost + "/Home/Image/" + image)" alt="@item.Title" class="lazy" src="@(Program.CdnBaseAddress)/core/loaders/bars.svg">
                                </li>
                                var index = item.Images.IndexOf(image);
                                if (index >= 2) break;
                            }
                        </span>
                    }
                    else if (!string.IsNullOrEmpty(item.ImageId))
                    {
                        <span class="article-single-picture">
                            <img data-src="@($"{Program.WebHost}/Home/Image/{item.ImageId}")" alt="@item.Title" class="lazy" src="@(Program.CdnBaseAddress)/core/loaders/bars.svg">
                        </span>
                    }
                    <p class="article-text">
                        @((MarkupString) item.Excerpt)
                    </p>
                    <div class="blog-info">
                        <ul>
                            <li class="timer">@item.CreateTime.ToString("yyyy-MM-dd")</li>
                            <li class="view"><span>@item.CommentCount</span>已回答</li>
                        </ul>
                    </div>
                </div>
            }
        }
        <div style="margin: 20px auto;text-align: center">
            <MudPagination
                Rectangular="true"
                Variant="Variant.Filled"
                Count="_source.TotalPageCount"
                BoundaryCount="0"
                MiddleCount="3"
                Selected="(PageIndex == 0 ? 1 : PageIndex)"
                SelectedChanged="ToPageAsync"
                />
        </div>

    </div>
    <RightComponent></RightComponent>
</div>