@page "/topic/read/{Id}/{PageIndex:int?}"
<article>
    <h1 class="nav-map">
        <span>您现在的位置是：首页 > 今日热榜 > 热榜回答</span>
        <a href="/" class="n1">网站首页</a>
        <a href="/article/list" class="n2">今日热榜</a>
    </h1>
    <div class="infos-box">
        @if (_loading)
        {
            <MudCard>
                <MudCardContent>
                    <MudSkeleton Width="30%" Height="42px;"/>
                    <MudSkeleton Width="80%"/>
                    <MudSkeleton Width="100%"/>
                    <MudSkeleton Width="100%"/>
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px"/>
                    <MudSkeleton Width="100%"/>
                    <MudSkeleton Width="100%"/>
                    <MudSkeleton Width="100%"/>
                </MudCardContent>
                <MudCardActions>
                    <MudSkeleton Width="64px" Height="40px" Class="ml-2"/>
                    <MudSkeleton Width="105px" Height="40px" Class="ml-3"/>
                </MudCardActions>
            </MudCard>
        }
        else
        {
            <PageTitle>@((_topicModel?.Title ?? "") + " - 个人文章分享")</PageTitle>
            <div class="news-view">
                <h3 class="news-title">@_topicModel?.Title</h3>
                <div class="blog-info">
                    <ul>
                        <li class="timer">@_topicModel?.PublishTime.ToString("yyyy-MM-dd")</li>
                        <li class="view">@(_topicModel?.CommentCount)已回答 实际@(_source.TotalItemCount)回答</li>
                    </ul>
                </div>
                <div class="news-con">
                    @((MarkupString) (_topicModel?.Content ?? ""))
                </div>
            </div>

            @foreach (var item in _source)
            {
                <div class="comment">
                    <div class="news-con">
                        @((MarkupString) (item.Content ?? ""))
                    </div>
                    <div class="topic-info">
                        <div class="vote-up">@(item.VoteUpCount)个赞同</div>
                        <div class="pub-time">
                            <time>@item.CreatedTime.TimeAgo()</time>发布
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            }
            <div style="margin: 20px auto;text-align: center">
                <MudPagination
                    Rectangular="true"
                    Variant="Variant.Filled"
                    Count="_source.TotalPageCount"
                    BoundaryCount="0"
                    MiddleCount="3"
                    Selected="(PageIndex == 0 ? 1 : PageIndex)"
                    SelectedChanged="ToPageAsync"
                />
            </div>
        }
    </div>
    <RightComponent></RightComponent>
</article>